<a href="https://colab.research.google.com/github/Dracovan/UTS_ML2019_ID13033360/blob/master/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 2 - Practical Machine Learning Project

In [0]:
import torch

In [0]:
import sys
print (sys.version)

3.6.8 (default, Jan 14 2019, 11:02:34)
[GCC 8.0.1 20180414 (experimental) [trunk revision 259383]]

In [0]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.autograd import Variable
from pandas_datareader import data
import pandas_datareader as web
import datetime
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
%matplotlib inline

In [5]:
data = web.data.get_data_yahoo('gold', start='2017-01-01', end='2019-09-02')
data.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2017-01-03  16.440001  15.870000  16.000000  16.389999  18580800.0  15.914813
2017-01-04  16.629999  16.170000  16.559999  16.400000  13709300.0  15.924528
2017-01-05  17.500000  16.760000  16.780001  17.370001  26859600.0  16.866405
2017-01-06  17.370001  16.690001  17.020000  16.930000  17819500.0  16.439161
2017-01-09  17.299999  16.860001  17.280001  16.969999  15596300.0  16.478001